/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --accent-color:rgb(15, 234, 234);
}

html {
  background-color: white;
  background-size: contain;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
  margin: 0;
}

h1 {
  text-align: center;
}

#top-header {
  display: flex;
  justify-content: space-between;
}

span.siteName a {
  font-size: xx-large;
  text-decoration: none;
  color: black;
}

span.siteName a:hover, header div#tools a:hover {
  color: var(--accent-color);
}

header div#tools {
  padding: 10px;
}

nav {
  background-color: #444;
  width: 95%;
  margin: 2% auto;
}

nav ul {
  padding-left: 0;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

nav li {
  padding: 10px;
  color: white;
  display: inline-block;
  justify-content: center;
}

nav ul li a {
  text-decoration: none;
  color: var(--accent-color);
}

div #delor{
  background-image: url(/images/vehicles/delorean.jpg);
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}

div #text-overlay { /* placeholder color*/
  background-color: rgb(255,255,255, .5);
  position: absolute;
  top: 50px;
  z-index: 1;
  left: 150px;
  top: 50px;
}

#text-overlay h3 {
  margin: 5px;
  color: var(--accent-color);
}

#text-overlay p {
  margin: 0;
  list-style: none;
  color: var(--accent-color);
}

#text-overlay button {
  margin: 5px 5px 5px 0px;
  padding: 5px;
  background-color: var(--accent-color);
}

.grid-container {
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center; 
}

.grid-item {
  height: auto;
  width: 100px;
  text-align: center;
}

.grid-item a {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.grid-item img {
  object-fit: cover;
}

.image-container {
  background-color: var(--accent-color);
  padding: 10px 50px 10px 50px;
  border-color: #444;
  border: 3px;
  max-width: 150px;
  height: 100px; 
}

.vehicle-display {
  display: grid;
  grid-template-columns: 1fr;
  margin: 40px auto;
  gap: 20px;
  align-items: center;
  padding: 20px;
  border: 1px solid#b0b0b0;
  margin: 20px;
  border-radius: 5px;
  background-color: #d4d4d475;
  box-shadow: 0px 5px 5px var(--accent-color);
}

.vehicle-display img {
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 20px;
}

#inv-display {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  list-style: none;
  padding: 20px;
}

#inv-display img {
  width: 100%;
  height: auto;
}

#inv-display li {
  list-style-type: none;
  padding: 20px;
  margin: 10px 0;
  border: #000;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0px 5px 5px var(--accent-color);
}

#inv-display h3 {
  text-align: center;
}

.invlist {
  padding: 5px;
  background-color: #444;
  color: white;
  border: darkblue solid 1px;
  text-decoration: none;
}

.invlist:hover {
  background-color: #466;

}

.error {
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 2% auto;
}

.error img {
  width: 80%;
  height: auto;
}

@media (min-width: 901px) {
  
  html {
    background-image: url(/images/site/checkerboard.jpg);
    font-family: Arial, Helvetica, sans-serif;
  }

  body {
    background-color: white;
    margin: 100px;
    height: auto;
    border: 2px solid var(--accent-color);
    border-radius: 5px;
  }

  .info-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }

  .upgrade {
      order: 1; 
      flex: 0 0 45%;
  }

  .review {
      order: 2;
      flex: 0 0 45%; 
  }

  .review ul {
    padding: 0;
    margin: 0;
  }

  .review ul li {
    margin: 20px 0;
  }

  div #delor{
    height: 400px;
  }

  .upgrade h3, .review h3 {
    margin-left: 20px;
  }
  .vehicle-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .vehicle-display img {
      width: 100%;
      max-width: 600px;
      height: auto;
  }

  #inv-display {
    grid-template-columns: 1fr 1fr 1fr;
  }

}

@media (max-width: 500px) {
  body {
    margin: 0;
  }
}

@media (min-width: 502px) and (max-width: 900px) {
  span.image-container {
    padding: 10px 25px 10px 25px;
  }

}